@tailwind base;
@tailwind components;
@tailwind utilities;

.header--shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
}

.active {
    @apply bg-white;
}

.loading-spinner {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-bottom: 2px solid #7B66FF;
    border-radius: 50%;
    animation: spin infinite 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.loading-spinner-2 {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-bottom: 2px solid #292929;
    border-radius: 50%;
    animation: spin infinite 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.required--field {
    position: relative;
    width: fit-content !important;
}

.required--field::after {
    content: "*";
    color: red;
    position: absolute;
    right: -10px;
}